


.sidebar {
  position: fixed;
  height: 100%;
  width: 260px;
  background: #11101d;
  padding: 33px;
  z-index: 99;
  overflow: hidden;
}
.logo {
  font-size: 23px;
  padding-top: 150px;
  font-weight: bold;
  
  
}
.sidebar a {
  color: #fff;
  text-decoration: none;
}
.menu-content {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 40px;
  overflow-y: hidden;
}




.menu-content::-webkit-scrollbar {
  display: none;
}
.menu-items {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
  list-style: none;
  transition: all 0.4s ease;
  overflow-y: hidden;
  -webkit-scrollbar{
    display: none;
  }
}
.submenu-active .menu-items {
  transform: translateX(-56%);
}

.menulistli{
  font-size: 23px;
  
  
}


.menu-title {
  color: #fff;
  font-size: 14px;
  padding: 15px 20px;
  width: 190px;
  height: 40px;
  border: solid 2px beige;
}
.item a,
.submenu-item {
  padding: 16px;
  display: inline-block;
  width: 100%;
  border-radius: 12px;
}
.item i {
  font-size: 12px;
}
.item a:hover,
.submenu-item:hover,
.submenu .menu-title:hover {
  background: rgba(255, 255, 255, 0.1);
}
.submenu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.submenu {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: calc(-100% - 26px);
  height: calc(100% + 100vh);
  background: #11101d;
  display: none;
}
.show-submenu ~ .submenu {
  display: block;
}
.submenu .menu-title {
  border-radius: 12px;
  cursor: pointer;
}
.submenu .menu-title i {
  margin-right: 10px;
}
.navbar,
.main {
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  z-index: 1000;
}
.sidebar.close ~ .navbar,
.sidebar.close ~ .main {
  left: 0;
  width: 100%;
}
.navbar {
  position: fixed;
  color: #fff;
  height: 55px;
  padding: 15px 20px;
  font-size: 25px;
  background: #11101d;
  cursor: pointer;
  display: flex;
  justify-content: end;
 
  
}
.navbtnsignout{

}


.navbar #sidebar-close {
  cursor: pointer;
}
.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 100;
  

}
.main h1 {
  color: #11101d;
  font-size: 40px;
  text-align: center;
}

.logoutbuttonadmin{
  text-decoration: none;
  font-size: large;
  color: #0ef;}
.logoutbuttonadmin:hover{
    
  color: #0ef;
  filter: drop-shadow(0px 0px 10px #0ef);

}



/* admin home */

.every{
    margin-left:300px ;
    margin-top:100px ;
}

.homeevery{
  margin-left:258px ;
    margin-top:49px ;
}

/* adimn products */

.mainproductcontainer{
  margin-left: 100PX;
    display: flex;
    justify-content: space-between;
}

.bookeddata{
  width: 100px;
}

.newmaincontaine{
  display: flex;
  justify-content: space-between;
}