.home_wraper{
    display: flex;
    justify-content: space-around;
    margin-top: 160px;
    
    
    
}
.head{
    color: white;
}

.hometd{
    max-width: 600px;
    max-height: 150px;
    color: white;
    margin-top: 75px;
    
}

.discrip{
    font-size: 15px;
    word-spacing: 3px;
    text-align: justify;
}
.head4{
    
    color: #00abf0;
    word-spacing: 3px;

}



/* .homeimg{
    
} */

.homeimg{
    filter: grayscale(1);/* to black and white the picture*/
    transition: all 1s;
    animation: scaleImage 5s linear infinite ;
    
}






@keyframes scaleImage{
    0%{
        filter: drop-shadow(0px 0px 0px #081b29);

    }

    50%{
        filter: drop-shadow(10px 10px 35px rgb(30, 134, 175));
        


       


    }
    100%{
        filter: drop-shadow(0px 0px 0px #081b29);

    }
}


.mindivdiv{
    background-color: #081b29;
    height:800px;
    width: 97vw;
}





.all{
    margin-top: 150px;
}