.pro_outer{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}
#switch:checked ~ .pro_outer{
  background: #092c3e;
}
.pro_content{
  display: flex;
  width: 765px;
  padding: 15px;
  background: #fff;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
#switch:checked ~ .pro_outer .pro_content{
  background: #092c3e;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.pro_outer .pro_toggle{
  position: absolute;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background: #092c3e;
  right: 15px;
  top: 13px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#switch:checked ~ .pro_outer .pro_toggle{
  background: #fff;
}
.pro_outer .pro_toggle .circle{
  margin-left: 3px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #fff;
  transition: all 0.3s ease;
}
#switch:checked ~ .pro_outer .circle{
  margin-left: 22px;
  background: #092c3e;
}
.image-box {
    
  height: 232px;
  width: 200px;
  border-radius: 100%;
  padding: 3px;
  background: #092c3e;
}
.image-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 100%;
}
#switch:checked ~ .pro_outer .image-box{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
#switch:checked ~ .pro_outer .image-box img{
  border-color: transparent;
}
.pro_content .details{
  width: 58%;
  margin: 10px 0 20px 20px;
  color: #092c3e;
  gap: 15px;
}
#switch:checked ~ .pro_outer .details{
  transition: 0.1s;
  color: #fff;
}
.pro_content .details .name{
  font-size: 16px;
  font-weight: 300;
}
.pro_content .details .job{
  font-size: 18px;
  font-weight: 500;
}
.pro_content .details p{
 font-size: 15px;
 margin-top: 6px;
}
.pro_content button{
  display: block;
  margin-top: 16px;
  outline: none;
  border: none;
  font-size: 17px;
  padding: 6px 14px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  background: #092c3e;
  transition: all 0.3s ease;
}
.pro_content button:hover{
  transform: scale(0.97);
}
#switch:checked ~ .pro_outer button{
  background: #fff;
  color: #092c3e;
}
.media-icons{
  position: absolute;
  bottom: 16px;
  right: 15px;
  margin-top: 12px;
  justify-content: flex-end;
}
.media-icons i{
  display: inline-flex;
  margin: 0 4px;
  font-size: 16px;
  color: #092c3e;
  opacity: 0.7;
  cursor: pointer;
}
.media-icons i:hover{
  opacity: 1;
}
#switch:checked ~ .pro_outer i{
  color: #fff;
  opacity: 1;
}
#switch{
  display: none;
}

.name{
    margin: 5px;
    margin-bottom: 8px;
}

.useepspanpro{
    font-size: large;
    font-weight: bold;
}